@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}
body{
   background-color:   hsl(212, 45%, 89%);
}
.main { 
    background-color: hsl(0, 0%, 100%);
    width: 280px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    border-radius: 8px;
}
.main img{
    margin: 15px;
    width: 250px; 
    border-radius: 6px; 
}
.main .label{
    text-align: center;
    font-weight: 700; 
    padding: 0 35px 5px;
    color:  hsl(218, 44%, 22%); 
}
.main .content{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    padding: 0 15px 5px;
}